{% extends "base.html" %}

{% block javascript %}
    {{ block.super }}
    {{ profile_form.media }}
{% endblock %}

{% block header_links %}
    <a href="{% url logout_page %}">Logout</a>
{% endblock %}

{% block body %}

    <form method="post">
        {% csrf_token %}
        {{ profile_form.as_p }}
        {{ user_form.as_p }}
        <input type="submit" value="Submit" />
    </form>

{% endblock %}