{% extends "base.html" %}

{% load profiletags %}

{% block body %}

    <table class="users">
        <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>Biography</th>
            <th>Contacts</th>
            <th>xdf</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.get_profile }}</td>
                <td>{{ user.get_profile.birthdate }}</td>
                <td>{{ user.get_profile.biography }}</td>
                <td>{{ user.get_profile.contacts }}</td>
                <td><a href="{{ user|get_edit_link }}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
