body { font-family: arial; font-size: 14px; }

/* main wrapper */
#wrapper { margin: auto; width: 960px; border: 1px #cccccc solid; }
    /* header */
    #header { height: 100px; border-bottom: 1px #cccccc solid; }
        /* logout and account links in the header */
        #header a { display: block; float: right; margin: 10px; color: #4169e1; }


    /* messages */
    ul.messages {  }
        /* success */
        ul.messages li.success { color: #009900; }

    /* form error messages */
    ul.errorlist { margin: 0; }
        ul.errorlist li { color: red; }

    /* users list table */
    table.users { border-collapse: collapse; margin: 5px; }
        table.users td { border: solid 1px #cccccc; padding: 0 5px; }
        table.users th { background: #cccccc; font-weight: bold; border: solid 1px #cccccc; padding: 5px; }




