<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="ru">
    <head>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {% endblock %}
        <title>Arvid test task</title>
        {% comment %}
        <link rel="shortcut icon" href="/{{ STATIC_URL }}img/favicon.png"> #}
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">
        {% endcomment %}
        {% block javascript %}
            <!--[if lt IE 8]>
                <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
            <![endif]-->
            {% comment %}
            <script src="{{ STATIC_URL }}js/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
            {% endcomment %}
        {% endblock %}
        {% block css %}
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
        {% endblock %}

    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                {% block header_links %}
                    <a href="{% url logout_page %}">Logout</a>
                    <a href="{% url edit_page %}">My account</a>
                {% endblock %}
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block body %}

            {% endblock %}
        </div>
    </body>
</html>